In [1]:
import pandas as pd
import matplotlib.pyplot as plt
# import seaborn as sns
import numpy as np
from matplotlib import font_manager, rc
font_path = "./malgun.ttf"
font_name = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font_name)

plt.rcParams['axes.unicode_minus'] = False

In [2]:
df1 = pd.read_excel('GRDP_시도.xlsx')  # GRDP
df2 = pd.read_excel('경제성장률_시도__20230222224924.xlsx')   # 경제성장률
df3 = pd.read_excel('경제활동인구_시도__20230222225929.xlsx')  # 경제활동인구
df4 = pd.read_excel('고령인구비율_시도_시_군_구__20230222225425.xlsx') # 고령인구비율

In [3]:
# df1.to_excel('GRDP_시도.xlsx', index=False)
# df2.to_excel('경제성장률_시도__20230222224924.xlsx', index=False)
# df3.to_excel('경제활동인구_시도__20230222225929.xlsx', index=False)
# df4.to_excel('고령인구비율_시도_시_군_구__20230222225425.xlsx', index=False)

In [4]:
df1.drop(['경제활동별(1)'], axis=1, inplace=True)

In [5]:
df1_column=[row[0] for row in (col.split('.') for col in df1.columns if col >= '2000') if len(row) >=2]
df1_column

['2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021']

In [6]:
df1_1=df1.loc[1:,[col for col in df1.columns if col >= '2000']]

In [7]:
df1_1=df1_1.iloc[:,::2]

In [8]:
df1_1.rename(columns={'시도별(1)' : '시도'}, inplace=True)

In [9]:
df1_1.head()

,시도,2000.1,2001.1,2002.1,2003.1,2004.1,2005.1,2006.1,2007.1,2008.1,...,2012.1,2013.1,2014.1,2015.1,2016.1,2017.1,2018.1,2019.1,2020.1,2021.1
1,전국,906476368,954266932,1020790393,1058162561,1106646717,1157478093,1220355850,1290847174,1325847750,...,1519358867,1566633412,1615774616,1660844316,1709742565,1762932983,1814075680,1854370144,1842426414,1919305433
2,서울특별시,234450139,244418894,261328220,266033918,269197325,280676032,292392945,309525926,317128072,...,348568408,354319250,359661759,370167867,380679274,389584629,403605888,414092568,417638547,432406018
3,부산광역시,51705541,55382619,57866997,59924431,61227100,63032743,65299325,68944140,70785024,...,75742868,77000292,80258570,82701497,84114530,85441974,86889875,89105372,85962709,87906722
4,대구광역시,33378959,34134803,35743105,36396595,38364894,39039831,40255437,42074727,42614503,...,47367831,49036361,50329551,51822013,51823902,52721214,53964991,54762237,53668577,56026338
5,인천광역시,43019365,46255108,50972798,52157498,54987798,56922112,59522631,64675503,64033773,...,73129842,75073082,78694187,80137506,82257112,85791563,86426825,87963593,84907539,89984023

In [10]:
df1_1.set_index('시도', inplace=True)

In [11]:
df1_1.head()

,2000.1,2001.1,2002.1,2003.1,2004.1,2005.1,2006.1,2007.1,2008.1,2009.1,...,2012.1,2013.1,2014.1,2015.1,2016.1,2017.1,2018.1,2019.1,2020.1,2021.1
시도,,,,,,,,,,,,,,,,,,,,,
전국,906476368,954266932,1020790393,1058162561,1106646717,1157478093,1220355850,1290847174,1325847750,1338962852,...,1519358867,1566633412,1615774616,1660844316,1709742565,1762932983,1814075680,1854370144,1842426414,1919305433
서울특별시,234450139,244418894,261328220,266033918,269197325,280676032,292392945,309525926,317128072,321873162,...,348568408,354319250,359661759,370167867,380679274,389584629,403605888,414092568,417638547,432406018
부산광역시,51705541,55382619,57866997,59924431,61227100,63032743,65299325,68944140,70785024,68336815,...,75742868,77000292,80258570,82701497,84114530,85441974,86889875,89105372,85962709,87906722
대구광역시,33378959,34134803,35743105,36396595,38364894,39039831,40255437,42074727,42614503,41429265,...,47367831,49036361,50329551,51822013,51823902,52721214,53964991,54762237,53668577,56026338
인천광역시,43019365,46255108,50972798,52157498,54987798,56922112,59522631,64675503,64033773,63153061,...,73129842,75073082,78694187,80137506,82257112,85791563,86426825,87963593,84907539,89984023

In [12]:
#    컬럼명을 2000.1 -> 2000로 변경
df1_1.columns = [ col[:3+1] for col in df1_1.columns]
df1_1.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
시도,,,,,,,,,,,,,,,,,,,,,
전국,906476368,954266932,1020790393,1058162561,1106646717,1157478093,1220355850,1290847174,1325847750,1338962852,...,1519358867,1566633412,1615774616,1660844316,1709742565,1762932983,1814075680,1854370144,1842426414,1919305433
서울특별시,234450139,244418894,261328220,266033918,269197325,280676032,292392945,309525926,317128072,321873162,...,348568408,354319250,359661759,370167867,380679274,389584629,403605888,414092568,417638547,432406018
부산광역시,51705541,55382619,57866997,59924431,61227100,63032743,65299325,68944140,70785024,68336815,...,75742868,77000292,80258570,82701497,84114530,85441974,86889875,89105372,85962709,87906722
대구광역시,33378959,34134803,35743105,36396595,38364894,39039831,40255437,42074727,42614503,41429265,...,47367831,49036361,50329551,51822013,51823902,52721214,53964991,54762237,53668577,56026338
인천광역시,43019365,46255108,50972798,52157498,54987798,56922112,59522631,64675503,64033773,63153061,...,73129842,75073082,78694187,80137506,82257112,85791563,86426825,87963593,84907539,89984023

In [17]:
df1_T = df1_1.T
df1_T

시도,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
2000,906476368,234450139,51705541,33378959,43019365,19742330,23066261,49333661,-,157417148,26145825,27699659,44559007,30236753,47559118,54673687,57821766,8587855
2001,954266932,244418894,55382619,34134803,46255108,20828849,23813574,50423452,-,171443115,26668912,28294054,46432861,31465262,49464042,56490106,61928632,9200210
2002,1020790393,261328220,57866997,35743105,50972798,22420270,25497366,55068266,-,186126487,27377155,29656804,50205811,32419090,52071978,60328507,66357305,9693184
2003,1058162561,266033918,59924431,36396595,52157498,22585186,26757005,54100049,-,196745165,28861908,30693993,55468963,32768805,52730314,65372870,68827444,9960579
2004,1106646717,269197325,61227100,38364894,54987798,23198230,27540951,59706880,-,208742156,29386767,33573276,60583607,33844818,55586311,69948144,71667409,10579746
2005,1157478093,280676032,63032743,39039831,56922112,24953345,28061744,61626834,-,222816035,29695748,33307920,66603884,34414457,56104942,74596282,76018607,10530282
2006,1220355850,292392945,65299325,40255437,59522631,26193910,29074607,62869561,-,242756988,31550828,36176510,72238019,36053645,57944653,77440727,80266127,10740812
2007,1290847174,309525926,68944140,42074727,64675503,27392264,29906786,65950587,-,255550481,32853097,38575637,76413497,37890302,61058914,83621419,85284496,11335159
2008,1325847750,317128072,70785024,42614503,64033773,27791206,30273625,64401338,-,268221081,33674653,37908674,80523469,39294329,61841218,86102708,89539592,11450325
2009,1338962852,321873162,68336815,41429265,63153061,27180608,31068315,63392764,-,273835863,33976932,40008263,82604137,39655937,61529089,85724356,92664822,12158772
2010,1432683907,333249300,71968834,44114977,69301148,30457831,33247905,66254235,-,300716256,35452559,43503412,92056862,41674930,67644440,92044050,98297235,12380394
2011,1484628137,343756313,73792908,45657599,70536942,31011787,34446444,71517190,-,313748238,36296644,46066868,98515870,43285951,66697766,94466406,101258402,13231976
2012,1519358867,348568408,75742868,47367831,73129842,31650181,34977219,71957705,-,327820620,37021010,47647389,99219568,43728235,67142356,95229383,103911994,14067649
2013,1566633412,354319250,77000292,49036361,75073082,32859385,35375467,72322408,6883305,346430719,38211948,49519653,97403497,45637671,68435908,98842637,104475348,14763437
2014,1615774616,359661759,80258570,50329551,78694187,34169569,36081650,72408971,8635120,362159526,40077987,51596699,100199403,46567890,68405097,105901155,104843574,15785920
2015,1660844316,370167867,82701497,51822013,80137506,34845589,37162614,72854409,9261543,381978306,40867985,55191633,101299131,47018028,68878376,103120174,106590936,16946709
2016,1709742565,380679274,84114530,51823902,82257112,35933462,38456557,73477668,9729904,399827962,42047331,58380533,104503363,46664550,70449724,105745496,107343355,18307842
2017,1762932983,389584629,85441974,52721214,85791563,36384616,38772485,72968962,10140164,426172886,43761362,61953139,110165655,47553099,71340179,104429785,106561346,19144657
2018,1814075680,403605888,86889875,53964991,86426825,38216077,39135729,71344390,10423610,451914662,44574334,65830010,110873163,48350793,72888289,103149107,107224316,18968300
2019,1854370144,414092568,89105372,54762237,87963593,39624032,40684092,72024599,11091040,462288338,46064137,66927772,112310782,49506041,74618019,104417627,109370902,19186190
2020,1842426414,417638547,85962709,53668577,84907539,39530642,41208249,67136435,11647981,470022670,44829136,65926194,112762058,49116252,74972494,101370158,103425415,17957495
2021,1919305433,432406018,87906722,56026338,89984023,41118247,42368245,69621279,12489323,496672331,46476220,70139551,118002148,50398818,77027126,104960491,105347557,18175224